{% extends 'deltago/base/base.html' %}
{% block main %}
<section>
    <div class="container">
        <div class="col-md-12">
            <h3>DeltaGo 简介</h3>
            <p>DeltaGo 是一个提供新西兰代购服务的网站。商品均购买自新西兰本地超市、药店或商场。</p>
            <p>DeltaGo 的存在意义：</p>
            <ul>
                <li>为用户推荐并提供优质商品</li>
                <li>积攒编程经验</li>
                <li>赚零花钱</li>
            </ul>
            <p>网站的联系方式：</p>
            <ul>
                <li>发送邮件至 nz.deltago@gmail.com</li>
                <li>去留言板留言</li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}