{% extends 'deltago/base/base.html' %}
{% block main %}
<section>
    <div class="container">
        <div class="col-md-12">
            <h1>隐私声明</h1>
            <hr/>
            <p><b>最近更新：2017年8月4日</b></p>
            <p>
                本网站由DeltaGO（“我们”）提供各种支持。我们非常感谢您的信任。本声明将阐述我们对隐私权保护的政策。如您访问本网站，代表您同意接受本隐私声明。
            </p>
            <div>
                <h3>我们收集的个人信息</h3>
                <p>我们承诺只收集必要的个人信息，我们收集信息的种类如下：</p>
                <ul>
                    <li>
                        您向我们提供的信息：包括注册账户时提供的电子邮箱，下订单时提供的收货信息，支付时提供的支付信息。
                    </li>
                    <li>
                        自动获取的信息：无论您何时与我们进行沟通，我们接收并储存特定的信息。例如，与其他许多网站一样，我们使用cookies。当您的网络浏览器访问本网站，我们将获得某些信息。
                    </li>
                </ul>
            </div>
            <div>
                <h3>您个人信息的安全</h3>
                <p>我们严格保护您的个人信息安全。如果您对我们的个人信息保护有任何疑问，请联系我们的客服。
                请您妥善保护自己的个人信息，仅在必要的情形下向他人提供。如您发现自己的个人信息泄密，尤其是你的账户及密码发生泄露，请您立即联络我们，以便我们采取相应措施。</p>
            </div>
            <div>
                <h3>通知和修订</h3>
                <p>隐私声明如有调整，我们会出公告，请留意。有任何问题，请联系我们。
                </p>
            </div>
        </div>
    </div>
</section>




{% endblock %}