{% extends 'deltago/base/base.html' %}
{% load date %}
{% load price %}

{% block main %}
    <section>
        <div class="container">
            <div class="col-md-12 order-details">
                {% include 'deltago/order/basic.html' %}
                <hr class="greyblue">
                {% include 'deltago/order/ship.html' %}
                <hr class="greyblue">
                {% include 'deltago/order/fee.html' %}
                <hr class="greyblue">
                {% include 'deltago/order/product_table.html' %}
            </div>
        </div>
    </section>
{% endblock %}