
<table class="table">
    <thead>
        <tr>
            <th>商品名称</th>
            <th>单价</th>
            <th>数量</th>
            <th>合计</th>
        </tr>
    </thead>
    <tbody>
        {% for item in order.commodity_info_table %}
        <tr>
            <td class="col-md-4">
                <a href="{% url 'details' item.commodity.pk %}">{{item.commodity.name}}</a>
            </td>
            <td class="col-md-2">NZD${{item.price}}</td>
            <td class="col-md-2">{{item.quantity}}</td>
            <td class="col-md-2">NZD${{item.commodity_total}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>