<table class="table">
    <thead>
        <tr>
            <th class="col-sm-3">商品名称</th>
            <th class="col-sm-2">单价</th>
            <th class="col-sm-2">数量</th>
            <th class="col-sm-2">小计</th>
        </tr>
    </thead>
    <tbody>
        {% for item in order.commodity_info_table %}
            <tr>
                <td class="col-sm-3">
                    <a href="{% url 'details' item.commodity.pk %}">{{item.commodity.name}}</a>
                </td>
                <td class="col-sm-2">${{item.price}}</td>
                <td class="col-sm-2">{{item.quantity}}</td>
                <td class="col-sm-2">${{item.commodity_total}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>