{% extends 'deltago/base/base.html' %}

{% block main %}
    {% if products %}
        <form action="{% url 'checkout' %}" method="post">
            {% csrf_token %}
            {% for product in products %}
                <li class="list-unstyled">
                    <p>
                        <a href="{% url 'details' product.pk %}">{{product.name}}</a>
                    </p>
                    <p>
                        {% include 'deltago/share/price.html' %}
                        <span>{{product.volume_size}}</span>
                        <input type="number" min="0" name="quantity" value="{{product.quantity}}" style="width:2em;">
                    </p>
                    <input id="checkBox-{{product.pk}}" type="checkbox" name="checkbox" value="{{product.pk}}">
                </li>
                <hr class="star-light">
            {% endfor %}
            <input type="submit" value="确认订单">
        </form>
    {% else %}
        <p>{{empty_tips}}</p>
    {% endif %}
{% endblock%}