{% extends 'deltago/base/base.html' %}

{% block main %}
    {% if carts %}
        <form action="" method="post">
            {% csrf_token %}
            {% for cart in carts %}
                <li class="list-unstyled">
                    <p>
                        <a href="{% url 'details' cart.commodity.pk %}">{{cart.commodity.name}}</a>
                    </p>
                    <p>
                        {% include 'deltago/share/price.html' with product=cart.commodity %}
                        <span>{{cart.commodity.volume_size}}</span>
                        <input type="number" min="0" name="quantity" value="{{cart.quantity}}" style="width:2em;">
                    </p>
                    <input id="checkBox-{{product.pk}}" type="checkbox" name="checkbox" value="{{cart.commodity.pk}}">
                </li>
                <hr class="star-light">
            {% endfor %}
            {% include 'deltago/share/pagination.html' %}
            <input type="submit" value="确认订单">
        </form>
    {% else %}
        <p>{{empty_tips}}</p>
    {% endif %}

{% endblock%}