{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html"; charset="urf-8">
        <meta name="renderer" content="webkit">
        <meta name="referrer" content="always">
        <meta content="代购 daigou" name="description"/>
        <title>DeltaGo</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'deltago/img/favicon.png' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'deltago/libs/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'deltago/css/main.css' %}">
    </head>
    <body>
        {% include './nav.html' %}

        <div>{% block main %}{% endblock %}</div>

        {% include './footer.html' %}

    </body>
    <script type="text/javascript" src="{% static 'deltago/libs/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'deltago/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script>
        $(function () {
          $('[data-toggle="popover"]').popover()
        })
    </script>
</html>