<div class="footer-below">
    <div class="container">
        <div class="row">
            <ul class="col-md-12 list-unstyled">
                <li class="col-md-2">
                    <a href="{% url 'about' %}">关于我们</a>
                </li>
                <li class="col-md-2">
                    <a href="{% url 'privacy' %}">隐私政策</a>
                </li>
                <li class="col-md-2">
                    <a href="">©DeltaGo 2017</a>
                </li>
            </ul>   
        </div>
    </div>
</div>