<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav navbar-nav footer-nav">
                    <li>
                        <a href="{% url 'about' %}">关于我们</a>
                    </li>
                    <li>
                        <a href="{% url 'privacy' %}">隐私政策</a>
                    </li>
                    <li>
                        <a href="{% url 'guides' %}">购物指南</a>
                    </li>
                    <li>
                        <a href="">©DeltaGo</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

