<nav class="navbar navbar-default navbar-fixed-top- navbar-custom">
    <div>
        <a class="navbar-brand" href="{% url 'index' %}">DeltaGo</a>
    </div>
    <ul class="nav navbar-nav navbar-left">
        <li><a href="{% url 'index' %}">首页</a></li>
        <li>
            <a href="">商品</a>
        </li>
        <li>
        <a href="{% url 'comments' %}">留言板</a>
        </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="{% url 'cart' %}">购物车</a>
        </li>
        {% if user.is_authenticated %}
            <li>
                <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{request.user.username}}<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'my_orders' %}">我的订单</a></li>
                    <li><a href="{% url 'my_comments' %}">我的留言</a></li>
                    <li><a href="{% url 'password_change' %}">修改密码</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="{% url 'logout' %}">退出</a></li>
                  </ul>
            </li>
        {% else %}
            <li><a href="{% url 'login' %}">登录</a></li>
        {% endif %}
    </ul>
</nav>