<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="navbar-header page-scroll">
        <a class="navbar-brand" href="{% url 'index' %}">DeltaGo</a>
    </div>
    <ul class="nav navbar-nav navbar-left">
        <li><a href="{% url 'index' %}">首页</a></li>
        <li><a href="{% url 'babycare' %}">婴幼儿专区</a></li>
        <li><a href="">保健品</a></li>
        <li><a href="">护肤</a></li>
        <li><a href="">食品</a></li>
        <li><a href="">特价专区</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        <li><a href="">购物车</a></li>
        <li><a href="">我的帐号</a></li>
        {% if user.is_authenticated %}
            <li><a href="">退出帐号</a></li>
        {% else %}
            <li><a href="">登录</a></li>
        {% endif %}
    </ul>
</nav>