<div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h5>网站公告：</h5>
    <ul class="list-unstyled">
        <li>
            快递：默认选择为平安快递，详情可参考<a href="http://www.efspost.com/" target="_blank">平安快递</a>官网。如有特殊需求，可联系本人。
        </li>
        <li>运费：如无特殊情况，运费为每公斤 25 元。特殊情况，邮件告知。</li>
        <li>时长：一般情况下，2~3周可到达。</li>
        <li>
            目前，本站按汇率 5.0 计算，参考<a href="http://www.boc.cn/sourcedb/whpj/" target="_blank">中国银行外汇牌价</a>官网。
        </li>
    </ul>
</div>
