{% load price %}
<div class="container">
<div id="products" class="row list-group">
    {% for product in products %}
        <form action="{% url 'addcart' product.pk %}" method="post" >
            {% csrf_token %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a href="{% url 'product_details' product.pk %}">
                    <img src="/static/deltago/img/products/{{product.pic_url}}/small-1.png" alt="{{product.name}}">
                    </a>
                    <div class="caption">
                        <p>
                            <a href="{% url 'product_details' product.pk %}">
                                {{product.name}}
                            </a>
                        </p>
                        <div>
                        <p class="text-left">
                            <span>价格：${{product.price|human_price}}</span>
                            &nbsp;&nbsp;
                            <span>规格：{{product.volume_size}}</span>
                        </p>
                        <p class="text-right">
                            <input class="btn btn-sm btn-blank-green" type="number" value="1" min="1" max="100" name="quantity">
                            &nbsp;
                            <button type="submit" class="btn btn-sm btn-blank-green" >加入购物车</button>
                        </p>
                    </div>
                    </div>
                </div>
            </div>
        </form>
    {% empty %}
        <p>暂无商品上架。</p>
    {% endfor %}
</div>
</div>
