{% for product in products %}
    <li class="list-unstyled">
        <p>
            {% if product.stockcode %}
                <a href="{% url 'details' product.stockcode %}">{{product.name}}</span></a>
            {% else %}
                <a href="">{{product.name}}</span></a>
            {% endif %}
        </p>
        <p>
            {% include './price.html' %}
            <span>{{product.volume_size}}</span>
        </p>
    </li>
    <hr class="star-light">
{% empty %}
    <p>{{empty_tips}}</p>
{% endfor %}