{% extends 'deltago/base/base.html' %}

{% block main %}
    
<header>
    <div class="container" tabindex="-1">
        <div class="row">
            <div class="col-md-12">
                <div class="intro-text">
                    <h1 class="name">热门商品</h1>
                    <hr class="star-light">
                    <span class="skills">简短说明</span>
                </div>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>热门商品列表</h2>
                <hr class="star-primary">
            </div>
        </div>
    </div>
</section>

{% endblock%}