{% extends 'deltago/base/base.html' %}

{% block main %}
    
<header>
    <div class="container" tabindex="-1">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>推荐商品</h2>
                {% include 'deltago/share/notifications.html' %}
                <hr class="star-primary">
            </div>
            <div class="col-md-12">
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>主打商品</h2>
                <hr class="star-primary">
            </div>
        </div>
    </div>
</section>

{% endblock%}