html {
    height:100%;
}
body {
    font-family: Georgia, "Times New Roman", "KaiTi";
    min-height:100%;
    margin:0;
    padding:0;
    position:relative;
}
.main {
    padding-top: 2em;
    padding-bottom: 3em;
}
.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height: 3.5em;
    color: #999;
    overflow: hidden;
    zoom: 1;
    font-size: 0.8em;
    z-index: 1001;
}

ul.footer-nav {
    display: table;
}
ul.footer-nav > li {
    display: table-cell;
}

.btn-delete {
    background-color: #e0245e;
    border: 1px solid #e0245e;
    color: #fff;
}
.btn-pink {
    color: #fff;
    background-color: pink;
    border-color: pink;
}
.btn-blank-green {
    color: #40c9bd;
    background-color: white;
    border-color: #40c9bd;
}
.btn-blank-pink {
    color: #fba3b2;
    background-color: white;
    border-color: #fba3b2;
}


a.disabled {
   pointer-events: none;
   cursor: default;
   color: #999999;
}

ul.list-review > li {
    padding-right: 30px;
}

.order-details > div > h4 {
    color: #40e0d0;
}

.display-none {
    display: none;
}
.display-inline-block {
    display: inline-block;
}

.star {
    color: #ff6e4e;
}
table > caption {
    text-align: center;
}
.carousel-control.left {
    background-image: none;
}
.carousel-control.right {
    background-image: none;
}


.min-width {
    width: 4em;
}


