

{% if details.nutrition_table %}
<table class="table table-hover">
    <caption>营养成分表</caption>
        <tr>
            <th></th>
            <th>Serving Size: {{details.serving_size}}</th>
            <th>Servings: {{details.servings}}</th>
        </tr>
        <tr>
            <th>营养成分</th>
            <th>每份</th>
            <th>每100g</th>
        </tr>
        {% for key, serving, gram in details.nutrition_table %}
            <tr>
                <th scope="row">{{key}}</th>
                <td>{{serving}}</td>
                <td>{{gram}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

