{% extends 'deltago/base/base.html' %}
{% block main %}
<section>
    <div class="container">
        <div class="col-md-12">
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                请前往邮箱 <a href="mailto:{{email}}">{{email}}</a> 
                激活您的账户。如有问题请发送邮件至 <a href="mailto:nz.deltago@gmail.com">nz.deltago@gmail.com</a>。
                邮件可能需要15分钟才能收到，非常抱歉。
            </div>
            <div>
                <p>
                    茶都凉了，激活邮件还是没有收到？<a href="{% url 'activate_email_repeat' user_id %}">重新发送</a>
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}