{% extends 'deltago/base/base.html' %}
{% block main %}
<section>
    <div class="container">
        <div class="col-md-12">
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                请前往邮箱<a href="mailto:{{email}}">{{email}}</a>
                激活您的账户。如有问题请发送邮件至 nz.deltago@gmail.com。
            </div>
        </div>
    </div>
</section>
{% endblock %}