{% extends 'deltago/base/base.html' %}
{% block main %}
<section>
    <div class="container">
        <div class="col-md-3 col-md-offset-4">
            <form action="{% url 'password_reset' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="邮箱地址" name="email">
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">密码重置</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}