{% extends 'deltago/base/base.html' %}
{% block main %}
<section>
    <div class="container">
        <div class="col-md-12">
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p>密码重置邮件已经重新发送，请前往邮箱<a href="mailto:{{email}}">{{email}}</a>查看。</p>
                <p>
                    如果暂时没有收到，请您耐心等待或查看垃圾邮箱。
                    邮件可能需要15分钟才能收到，非常抱歉。
                </p>
            </div>
            <div>
                <p>
                    如有问题请发送邮件至 <a href="mailto:nz.deltago@gmail.com">nz.deltago@gmail.com</a>。
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}