{% load date %}
{% if comments %}
    {% for comment in comments %}
        <div>
            <p>
                {% firstof comment.nickname comment.author %}
                &middot;
                发表于 {{comment.created_time|human_time_date}}
            </p>
            <p>{{comment.content}}</p>

            <div>
                {% include 'deltago/comments/review.html' %}
            </div>
        </div>
        
        <div>
            {% include 'deltago/comments/reply_list.html' %}
        </div>
        <hr />
    {% endfor %}
    {% include 'deltago/share/pagination.html' %}
{% else %}
    <p>暂无留言，去<a href="{% url 'add_comment' %}">添加</a>。</p>
{% endif %}