{% extends 'deltago/base/base.html' %}
{% load date %}
{% block main %}
    <section>
        <div class="container">
            <div class="col-md-12">
                {% if comments %}
                    {% for comment in comments %}
                        <div>
                            <h4>{{comment.author}}</h4>
                            <p>{{comment.text}}</p>
                            <p>发表时间 {{comment.created_time|human_time_date}}</p>
                            <button class="btn btn-success" type="button">
                              有用 <span class="badge">{{comment.useful_number}}</span>
                            </button>
                            <button class="btn btn-default" type="button">
                              没用 <span class="badge">{{comment.unuseful_number}}</span>
                            </button>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>暂无留言，去<a href="">添加</a>。</p>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}