{% extends 'deltago/base/base.html' %}
{% load date %}
{% block main %}
    <section>
        <div class="container">
            <div class="col-md-12">
                <p><a href="{% url 'add_comment' %}">去留言~</a></p>
                {% if comments %}
                    {% for comment in comments %}
                        <div>
                            <p>
                                {% if comment.nickname %}
                                    <span>{{comment.nickname}}</span>
                                {% else %}
                                    <span>{{comment.author}}</span>
                                {% endif %}
                                &middot;
                                发表于 {{comment.created_time|human_time_date}}
                            </p>
                            <p>{{comment.content}}</p>
                            {% include 'deltago/comments/review.html' %}
                        </div>
                        <hr />
                    {% endfor %}
                    {% include 'deltago/share/pagination.html' %}
                {% else %}
                    <p>暂无留言，去<a href="{% url 'add_comment' %}">添加</a>。</p>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}