{% extends 'deltago/base/base.html' %}
{% load date %}
{% block main %}
    <section>
        <div class="container">
            <div class="col-md-12">
            <a href="{% url 'add_comment' %}">
                <button class="btn btn-default" style="float: right;">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </a>
                {% if comments %}
                    {% for comment in comments %}
                        <div>
                            <p>
                                {% firstof comment.nickname comment.author %}
                                &middot;
                                发表于 {{comment.created_time|human_time_date}}
                            </p>
                            <p>{{comment.content}}</p>
                            {% include 'deltago/comments/review.html' %}
                        </div>
                        <hr />
                    {% endfor %}
                    {% include 'deltago/share/pagination.html' %}
                {% else %}
                    <p>暂无留言，去<a href="{% url 'add_comment' %}">添加</a>。</p>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}