<a href="{% url 'review' comment_id=comment.pk is_useful=1 %}" class="btn btn-info btn-sm">
    <span>
       有用 {{comment.useful_number}}
    </span>
</a>
<a href="{% url 'review' comment_id=comment.pk is_useful=0 %}" class="btn btn-default btn-sm">
    <span>
       没用 {{comment.unuseful_number}}
    </span>
</a>
{% if comment.author == request.user or request.user.is_superuser %}
<a href="{% url 'delete_comment' comment.pk %}" class="btn btn-delete btn-sm">
    <span>删除评论</span>
</a>
{% endif %}
