<div class="row">
    <div class="col-sm-1">
        <a href="{% url 'review' comment_id=comment.pk is_useful=1 %}" class="{% firstof comment.review_auth.useful 'disabled' %}">
            <span class="glyphicon glyphicon-thumbs-up"></span>
            <small>{{comment.useful_number}}</small>
        </a>
    </div>

    <div class="col-sm-1">
        <a href="{% url 'review' comment_id=comment.pk is_useful=0 %}" class="{% firstof comment.review_auth.unuseful 'disabled' %}">
            <span class="glyphicon glyphicon-thumbs-down"></span>
            <small>{{comment.unuseful_number}}</small>
        </a>
    </div>

    {% if request.user.is_superuser %}
        <div class="col-sm-1">
            <a href="{% url 'reply_comment' comment.pk %}">
                <span class="glyphicon glyphicon-share-alt"></span>
            </a>
        </div>
    {% endif %}
    <div class="col-sm-1">
        <a href="{% url 'delete_comment' comment.pk %}" class="{% firstof comment.review_auth.delete 'disabled' %}">
            <span class="glyphicon glyphicon-trash"></span>
        </a>
    </div>
    {% if comment.author == request.user or request.user.is_superuser %}
    {% endif %}
</div>
