<div class="col-md-2">
    <ul class="list-unstyled">
        <li>
            <a href="{% url 'food' 4 %}">辅食・4月+</a>
        </li>
        <li>
            <a href="{% url 'food' 6 %}">辅食・6月+</a>
        </li>
        <li>
            <a href="{% url 'food' 9 %}">辅食・9月+</a>
        </li>
        <li>
            <a href="{% url 'food' 12 %}">辅食・12月+</a>
        </li>
        <li>
            <a href="{% url 'medicinal' %}">医疗</a>
        </li>
        <li>
            <a href="{% url 'skincare' %}">护肤</a>
        </li>
        <li>
            <a href="{% url 'nappy' %}">纸尿布</a>
        </li>
    </ul>
</div>